<html>
    <head>
        <title>Wishlist</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/styles/all-styles.css">
    </head>
    <body>
        <ul>
	<li><a href="/">Home</a></li>
  	<li><a href="/history">History</a></li>
  	<li><a href="/feedback">Feedback</a></li>
  	<li><a href="/wishlist">WishList</a></li>
  	<li><a href="/cart">ShoppingCart</a></li>
  	<li style="float:right"><a href="/logout">Logout</a>
  	</ul>
	<br>
	<form action="/wishlist" method="post">
            <p><input type="text" name="productID" placeholder="Enter Product ID"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
        <h2>Current Wishlist</h2>
        <br>
        {% for row in items %}
            <div>
                <p>product id: {{ row[0] }}</p>
            </div>
            <hr>
        {% endfor %}
    </body>
</html>
