<html>
    <head>
        <title>Forgot Password</title>
	<script src="static/sha512.js"></script>
	<script>
		function hashPassword() {
			var pass = document.getElementById('password');
			pass.value = SHA512(pass.value);
		}
	</script>
    </head>
    <body>
        <h2>Forgot Password</h2>
        <form action="/forgotPassword" method="post" onsubmit="hashPassword()">
            <p><input type="text" name="username" placeholder="Username"></p>
            <p><input id="password" type="password" name="password" placeholder="Password"></p>
            <p><input type="submit" value="Login"></p>
        </form>
        <p>{{ message }}</p>
    </body>
</html>