<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/styles/all-styles.css">
</head>

<body >
  <div id="app"></div>
  <ul>
  <li><a href="/">Home</a></li>
  <li><a href="/history">History</a></li>
  <li><a href="/feedback">Feedback</a></li>
  <li><a href="/wishlist">WishList</a></li>
  <li><a href="/cart">ShoppingCart</a></li>
  <li style="float:right"><a href="/logout">Logout</a>
  </ul>
  {% for row in items %}
            <div>
            	<h4>Search: {{ row[0] }}</h4>
            </div>
  {% endfor %}
</body>
