<html>
<head>
	<title>mailbox</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/styles/all-styles.css">
</head>
<body>
  	<ul>
	<li><a href="/">Home</a></li>
  	<li style="float:right"><a href="/logout">Logout</a>
  	</ul>
	<div id="parent">
		<h1>Leave Your Feedback Below</h1>
		<form onsubmit="return postFeedback()" method="POST">
			<h3>Name</h3>
			<input type="text" name="realname"><br>
			<br>

			<h3>Email</h3>
			<input type="text" name="email"><br>
			<br>

			<h3>Feedback</h3>
			<textarea name="comments" rows="10" cols="50"></textarea><br><br>

			<input type="submit" value="Submit">

		</form>
	</div>
<script>
	function postFeedback() {
		$.ajax({
			type: 'POST',
			url: url, // localhost:5000/somethinghereforfeedbackendpoint
			data: {name1:$('#name1').val(),age1:$('#age1').val()}, // args if needed
			success: function(){
				alert('success');
			}
		});
	}
</script>
</body>
</html>
