<html>
    <head>
        <title>{{ search }}</title>
	      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	      <link rel="stylesheet" type="text/css" href="static/styles/all-styles.css">
    </head>
  <body>
    <ul>
		<li><a href="/">Home</a></li>
  		<li><a href="/history">History</a></li>
  		<li><a href="/feedback">Feedback</a></li>
  		<li><a href="/wishlist">WishList</a></li>
  		<li><a href="/cart">ShoppingCart</a></li>
		<li style="float:right"><a href="/logout">Logout</a>
  	</ul>
	<br>
    <h1>Search Results</h1>
    {% for row in items %}
      <div>
    		<form action="/search" method="post">
                    <h2>{{ row[2].decode('utf-8').strip() }}</h2>
                    <img src="{{ row[6][1:-1] }}" alt={{ row[9] }}>
                    <h3>Vendor</h3>{{ row[11] }}
                    <h3>Regular Price</h3>{{ row[3] }}
                    <h3>Sale Price</h3>{{ row[4] }}
                    <h3>UPC</h3>{{ row[1] }}
		    <h3>Short description</h3> {{ row[7][1:-1] }}
    		<br>
    		<br>
            <input name="UPC" value = {{ row[1] }} type="hidden">
    		<input id="addCart" type="submit" value="Add to Cart"/>
    		</form>
          
		<form action="/product" method="post">	
		<!--<input name="UPC" value = {{ row[1] }} type="hidden">-->
        <a href="{{ url_for('product', UPC=row[1]) }}">Get Product Details</a>
		</form>
      </div>
    <hr>
      {% endfor %}
    </body>
</html>
